@model ChronoMarketplace.Models.ShoppingOrder

@{
    ViewData["Title"] = "Details";
    
}

<h1>Details</h1>

<div>
    <h4>ShoppingOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShoppingFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShoppingFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orderdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orderdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Totalprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Totalprice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartQuantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShoppingOrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
