@model IEnumerable<ChronoMarketplace.Models.ShoppingOrder>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Accessories.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orderdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipmentdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orderdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shipmentdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.Paymethod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShoppingOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShoppingOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShoppingOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
