@model IEnumerable<ChronoMarketplace.Models.Payment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Accessories.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payamount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paymethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paydate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Payamount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paymethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paydate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
