@model ChronoMarketplace.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Home/Accessories.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pimage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pimage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pprice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pstock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pstock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
